* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #607D8B;
  color: #212121;
}

.dark-primary-color    { background: #AFB42B; }
.default-primary-color { background: #CDDC39; }
.light-primary-color   { background: #F0F4C3; }
.text-primary-color    { color: #212121; }
.accent-color          { background: #607D8B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.product-container {
  display: flex;
  justify-content: space-evenly;
  margin: 50px 0px;
  flex-wrap: wrap;
}

.product-card-1 {
  width: 350px;
  border: solid 5px #CDDC39;
  box-shadow: #F0F4C3 5px 5px 0px;
  margin: 50px 0px;
  padding: 5px 15px;
  background-color: #AFB42B;
}

header {
  border-bottom: 1px solid #607D8B;
  display: flex;
  justify-content: center;
  padding: 10px 0px;
  font-family: 'Lora', serif;
  letter-spacing: .05rem;

}

.product-img {
  display: flex;
  justify-content: center;
  margin: 10px 0px;
}

img {
  width: 200px;
  border-radius: 5%;
}

.product-description {
  text-align: justify;

}

.product-availability {
  background-color: #757575;
  color: yellow;
  margin: 5px 0px;
}

ul {
  font-weight: bold;
  list-style: none;
  margin-left: 25px;
}

h3 {
  margin: 0px 5px;
}

footer {
  margin: 5px 0px;
}
