body {
  background-color: peru;
}

.product-container {
  display: flex;
  border: powderblue solid 5px;
}

.product-card-1 {
  width: 333px;
  height: 500px;
  border: solid 5px teal;
}

img {
  width: 300px;
}
