body {
  background-color: peru;
}

.product-container {
  display: flex;
  border: powderblue solid 5px;
}

.product-card-1 {
  width: 400px;
  height: 675px;
  border: solid 5px teal;
  box-shadow: wheat 10px 5px 5px;
}

header {
  border-bottom: 1px solid lightblue;
  display: flex;
  justify-content: center;
}

.product-img {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

img {
  width: 200px;
}

.product-description {
  text-align: justify;
  margin: 0px 5px;
}

.product-availability {
  background-color: darkgrey;
  color: yellow;
}

ul {
  font-weight: bold;
  list-style: none;
}

h3 {
  margin: 0px 5px;
}
